/*notes: colors that go well with background color, 
https://www.colorhexa.com/6eb3e2, #6eb3e2
orange color that matches the mic is #FB9137
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 500px;
}

body {
  background: linear-gradient(110deg, #2376ae 25%, white 100%);

  /*- original background color*/
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}

.header img {
  max-width: 300px;
  margin-top: 20px;
  margin-left: -45px;
}

.header {
  margin-top: 30px;
}

.tagline {
  font-weight: 800;
  text-shadow: 2px 2px rgba(2, 2, 2, 1);
  color: #fb9137;
  font-size: 2em;
}

.fas {
  padding-right: 1.2em;
  padding-bottom: 1.2em;
}

.episodeline {
  font-weight: 800;
  color: white;

}

.person {
  font-weight: 500;
  margin: 15px;
  padding: 15px;
}

h4.person-name {
  font-weight: 600;
  letter-spacing: 1px;
}

/*#
#AE5B23
*/
/*colors, BFBFC3 is a light gray possibly use for buttons*/

.person img {
  width: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 5px;
}

.person-desc {
  margin: 10px;
  font-size: 1.5em;
}

.person a {
  color: black;
  font-weight: bolder;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.nav-bar a {
  color: #2376ae;
  font-weight: 600;
  text-decoration: none;
}

.navlinks {
  word-spacing: 0.75em;
  font-size: 1.7em;
  padding: 1.3em 0;
}

.nav-bar a:hover {
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1.2, 1.2);
}

.logoimage {
  height: 4em;
  padding-top: 1em;
}

.subscribe-inner {
  max-width: 750px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  margin: 3em auto;
  padding: 2em;
  text-align: center;
}



.signup {
  display: flex;
}

.signup>* {
  border-radius: 0;
  border: 0;
  outline: 0;
}

.subscribe-inner .details {
  padding-top: 20px;
}

.signup input {
  line-height: 2;
  width: 60%;
  padding: 15px;
}

.signup button {
  /* background: #FB9137;*/
  background: #fb9137;
  width: 40%;
  font-size: 1.5em;
}

.episodes {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.featured-epsiode {
  padding-top: 3em;
}






.episodes-inner {
  background: rgba(0, 0, 0, 0.2);
  margin: 2em;
  padding-bottom: 2em;
}

.episode {
  margin: 25px;
}

.episode:hover {
  transform: scale(1.05);
}

.episode:hover h3 {
  color: #000;
  background: #fdc191;
  font-size: 1.5em;
}

.episode img {
  width: 100%;
  height: 80%;
}

.episodes a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
}

.episode-title {
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 10px;
  transform: skew(-5deg);
  font-size: 1.5em;
}

.podcast-info {
  background: rgba(0, 0, 0, 0.3);
}

#podcast-info {
  padding-top: 5em;
}

.podcast-info-inner {
  text-align: center;
  margin: auto;
}

.facts span {
  font-weight: bold;
  font-size: 3em;
  color: #fb9137;
}

.description h3 {
  background: #fb913763;
  display: inline-block;
  transform: rotate(-3deg) skew(-10deg);
  margin: 25px;
}

.description {
  font-size: 20px;
}

#reviews {
  padding-top: 2em;
}

.reviews-title {
  font-size: 25px;
  text-align: center;
  margin: 20px;
}

.reviews-title span .number {
  font-size: 40px;
  font-weight: 800;
  color: #fb9137;
}

.review-item {
  display: flex;
  flex-direction: column;
  min-height: 135px;
  justify-content: center;
  margin: auto;
}

.review-user {
  align-self: center;
  margin-top: 50px;
}

.review-user span {
  color: black;
}

.reviews-inner {
  margin: 50px auto;
}

.reviewText {
  position: relative;
  background: #fff;
  color: #252527;
  padding: 20px;
  min-height: 135px;
}

.reviews-body img {
  width: 75px;
  border-radius: 50%;
}

.reviewText::after {
  top: 100%;
  border: solid #fff;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(226, 226, 226, 0);
  border-top-color: #fff;
  border-width: 30px;
  margin-left: 30%;
}

.footer {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.footer a {
  font-size: 2rem;
  color: #fff;
  padding-top: 0.5em;
}

.footer img {
  width: 15em;
  height: 3em;
  margin-top: 0.3em;
  padding-right: .5em;
}

.footer-right {
  text-align: end;
}

/** MEDIA QUERIES **/

@media all and (max-width: 1000px) {
  .header-left img {
    display: none;
  }
}